

/***********************************************/
.highlight { background-color: yellow }

/************* app-site-legacy.scss ************/

  .tableAnexo {
    border-width: 1px;
    border-style: dashed;
    border-color: #000;
    }

.div_tipo_diploma_relacionado{
	padding: 3px 10px;
	border: solid 1px #ccc;
	background: #f2f2f2;
	margin: 0px 3px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #999999;
	-moz-box-shadow:
		0px 1px 3px rgba(255,255,255,0.6),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(255,255,255,0.6),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(255,255,255,0.6),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0),
		0px -1px 0px rgba(255,255,255,0);

}
.vericaltext{
    width:1px;
    word-wrap: break-word;
 }
.vertical{
    writing-mode:tb-rl;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform:rotate(90deg);
    transform: rotate(90deg);
    white-space:nowrap;
    display:block;
    bottom:0;
    width:20px;
    height:20px;
}

	.tTab {
		color:black;
		text-align:center;
		background:#ddd;
		font-weight:bold;
	}
	.dTab {
		color:black;
		text-align:right;
		background:#ddd;
		font-weight:bold;
	}

// body{
// 	margin:0;
// 	padding:0;
// 	font-family: Verdana, Geneva, sans-serif;
// 	font-size:10px;
// 	// background-image: url(img/Topo_parte1.jpg);
// }

#topo {
	// background-image:url(../img/topo-fundo.jpg);
	height:120px; padding-top:10px;}
#topo-c {margin:0 auto; width:980px; height:auto;}
#topo-c h1, #topo-c h2{ display:none;}

#redes {
	float:right;
	margin-top:-80px;
	margin-right:140px;
}

#logo {
	font-size:16px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color:#FBFBFB;
	margin-bottom:26px;
	margin-left:100px;
	margin-top:28px;
}
#logo1 {
	// background-image:url(../img/logo.png);
	margin-top:-100px;
	margin-left:-110px;
	width:199px;
	height:114px;
	background-repeat: repeat;
}
#digitalizacao-imagem {width:412px; height:55px;
	//  background-image:url(../img/frase.png); 
	 float:right; position:relative; top:35px;}

#menu { 
	// background-image:url(../img/fundomenu.jpg);
	 background-repeat:repeat-x; clear:both; height:45px; }
#menu-c {margin:0 auto; width:980px; height:45px;}

#menu-c p{ margin:0; padding:0;}

#menu-c ul{margin:0; padding:0; list-style:none; } 
#menu-c li{ /*display: none; */ float:left; margin: 4px 10px 10px; padding-top: 12px; padding-left: 5px; padding-right: 5px; font-size:14px; height: 29px; }
#menu-c li:hover { background-color:#AACE48; }
#menu-c li a{ text-decoration: none; color:#FFFFFF;}
#menu-c li:hover a{ text-decoration: none; color:#333333;}
#menu-c li.link_atual { background-color:#AACE48; text-decoration: none; color:#333333; }


/*a{color:#FFF; text-decoration:none; font-size:18px;}*/
/*a:hover{ color:#CCC; text-decoration:underline;}*/


#conteudo{ width:980px; height:400px; margin:0 auto; margin-top:20px; margin-bottom:10px;}

#rodape { 
	// background-image:url(../img/rodape-fundo.jpg); 
	background-repeat: repeat-x; height:90px; clear:both; color:#fdfeff; font-size:10px; padding-top:12px;}
#rodape-conteudo { width:980px; height:auto; margin:0 auto;}

#rodape-conteudo a{ color:#fff; font-size:14px; text-decoration: none;}
#rodape-conteudo a:hover{text-decoration: underline;}


#rodape-a { width:530px; height:auto; float:left;}
#rodape-b {width: auto; height:auto; float: right; font-size:12px; margin-top:20px;}

td { padding-right:5px;}

/*conteúdo SERVICOS////*/ 

#conteudo-servicos { width:980px; height:auto; margin:0 auto; margin-top:20px; margin-bottom:20px;}

#conteudo-servicos h1 {font-size:13px; color:#2169b5; border-bottom: solid; border-bottom-width:thin;}

/*conteúdo CONTATO////*/ 

#contato-e a{color:#053350; font-size:13px; text-decoration: underline;}
#contato-e a:hover{color:#999;}

#contato-e {width:455px; height:auto; float:left;border-right: dotted; border-right-width: thin; border-color:#053350; margin-bottom:15px;}
#contato-d {width:500px; height:auto; float:right;  margin:0; padding:0;}

.campo { width:300px;}

 .Carta{
   font-size:9pt; 
   color:darkblue; 
   font-style:italic; 
   text-align:justify; 
   margin-top: 0px;
   margin-left: 30px;	
   margin-bottom: 0px;
   margin-right: 30px;
   width: 87%;
   }
.transparente {
	   border: 1px;
	 }
.redanttransparente {
	   border: 1px;
}
.preambulo{
	   color:#666666;
	   font-style:italic;
	   text-align:justify;
	   margin-top: 0px;
	   margin-left: 30px;
	   margin-bottom: 0px;
	   margin-right: 30px;
	   width: 80%;
	   }
	.Publicacao{
	   font-style:italic;
	   margin-top: 2px;
	   color:#666666;
	   margin-left: 30px;
	   margin-bottom: 8px;
	   margin-right: 300px;
	   }
.recuado{
	font-size:9pt;
	text-align: justify;
        margin-top: 2px;
        margin-left: 38px;
        margin-bottom: 15px;
        margin-right: 50px;
       }

.recuadospan{
	font-size:9pt;
	text-align: justify;
        margin-top: 2px;
        margin-left: 38px;
        margin-bottom: 0px;
        margin-right: 50px;
       }	   
	   
.redant{
	color:#808080;
	font-size:8pt;
	text-align: justify;
        margin-top: 2px;
        margin-left: 38px;
        margin-bottom: 15px;
        margin-right: 50px;
       }
.redanttd{
	color:#808080;
	font-size:7pt;
	 }
.anexos{
	    width: 80%;
	    background-color:#f2f2f2;
	    margin: 30px;
	    padding: 30px;
	    border: 1px solid #999999;
	    right: 100%;
	    }
	.Assinatura{
	   color:#666666;
	   font-style:italic;
	   text-align:right;
	   margin-top: 20px;
	   margin-left: 30px;
	   margin-bottom: 0px;
	   margin-right: 30px;
	   width: 87%;
	   }
   	.TitVioleta{
	   font-weight:bold;
	   color:#000000;
	   text-align:center;
	   margin-top: 2px;
	   margin-left: 30px;
	   margin-bottom: 2px;
	   margin-right: 30px;
	   }
   	.TitPreto{
	   font-weight:bold;
	   text-align:center;
	   text-align:center;
	   margin-top: 2px;
	   margin-left: 0px;
	   margin-bottom: 2px;
	   margin-right: 0px;
	   width:100%;
	   background-color:#f2f2f2;

	-moz-border-radius: 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #999999;
	-moz-box-shadow:
		0px 1px 3px rgba(255,255,255,0.6),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(255,255,255,0.6),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(255,255,255,0.6),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0),
		0px -1px 0px rgba(255,255,255,0);


	   }
   	.TitAzul{
	   font-weight:bold;
	   color:#00006A;
	   text-align:center;
	   margin-top: 2px;
	   margin-left: 0px;
	   margin-bottom: 2px;
	   margin-right: 0px;
	   width:100%;
	   background-color:#CAD8FF;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #999999;
	-moz-box-shadow:
		0px 1px 3px rgba(255,255,255,0.6),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(255,255,255,0.6),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(255,255,255,0.6),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0),
		0px -1px 0px rgba(255,255,255,0);


	   }
#topo-2{ text-align:center; background:#0E76C4; color:#FFFFFF; font-size:12px; padding: 2px; height: 50px;}	
#topo-2-part-1{ float:left; width: 350px; margin-top: 20px; margin-left: 5%;}  
#topo-2-part-2{
	
	float:left;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 17px;
	font-weight: bold;
	background: #F6F6F6;
	color: #333333;
	padding: 7px 7px;
	margin-left: 5%;
	margin-top: 16px;
	min-width: 600px;
	
	-moz-border-radius-topleft: 7px;
	-webkit-border-top-left-radius: 7px;
	-moz-border-radius-topright: 7px;
	-webkit-border-top-right-radius: 7px;
	
	border-top-left-radius: 7px;
	-moz-border-radius-topleft: 7px;
	border-top-right-radius: 7px;
	-moz-border-radius-topright: 7px;
}
#rodape-2{ text-align:center; background:#0E76C4; color:#FFFFFF; font-size:10px; padding: 2px; margin-top: 20px; }



.barra_tit_Dados2{ 
	// background:url("../img/barra_tit_Dados2.jpg") no-repeat;
 }
.barra_tit_Dados2_1{ 
	// background:url("../img/barra_tit_Dados2_1.jpg") no-repeat; 
}



.css3buttonAno{ width: 30px !important; float:left;}
.css3button {
	font-family:Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
	font-size: 11px;
	color: #140014;
	padding: 6px 10px;
	background: -moz-linear-gradient(
		top,
		#AD1A1D 0%,
		#ffffff);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffffff),
		to(#ffffff));
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #d6d9d5;
	-moz-box-shadow:
		0px 1px 3px rgba(255,255,255,0.6),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(255,255,255,0.6),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(255,255,255,0.6),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0),
		0px -1px 0px rgba(255,255,255,0);
}
.css3button:hover {
			position: relative;
			top: 3px;
			border-color: #840000 #840000 #840000 #840000;
			background-color:#EB1518;
			}

.text{

	font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
	text-decoration:none;
	font-size: 11px;
	color:#333333;
}

.but {
	font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
	text-decoration:none;
	font-size: 10px;
	color:#333333;
	padding: 4px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#e8e8e8 12%,
		#ffffff 54%,
		#dedede 11%,
		#e0e0e0);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffffff),
		color-stop(0.12, #e8e8e8),
		color-stop(0.54, #ffffff),
		color-stop(0.11, #dedede),
		to(#e0e0e0));
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #b8b8b8;
	-moz-box-shadow:
		0px 0px 0px rgba(000,000,000,0),
		inset 0px 0px 4px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 0px 0px rgba(000,000,000,0),

		inset 0px 0px 4px rgba(255,255,255,1);

	box-shadow:

		0px 0px 0px rgba(000,000,000,0),

		inset 0px 0px 4px rgba(255,255,255,1);

	text-shadow:

		0px 1px 1px rgba(242,244,245,0.9),

		0px 0px 0px rgba(255,255,255,0);

}

.but:hover {

			position: relative;

			top: 1px;

			left: 1px;

			border-color: #000 #999 #999 #000;



			background:#CCCCCC;

			}
/*
.css3button {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #140014;
	padding: 7px 10px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ffffff);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffffff),
		to(#ffffff));
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #d6d9d5;
	-moz-box-shadow:
		0px 1px 3px rgba(255,255,255,0.6),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(255,255,255,0.6),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(255,255,255,0.6),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0),
		0px -1px 0px rgba(255,255,255,0);
}
.css3button:hover {
			position: relative;
			top: 1px;
			border-color: #000 #999 #999 #000;
			}
*/
.body {
// background-image: url("<?php echo $cdMunicipio; ?>/fundo.jpg");
background-attachment: fixed;

}
.text{
	font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
	text-decoration:none;
	font-size: 11px;
	color:#333333;
}

.but {
	font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
	text-decoration:none;
	font-size: 11px;
	color:#333333;
	padding: 4px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#e8e8e8 12%,
		#ffffff 54%,
		#dedede 11%,
		#e0e0e0);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffffff),
		color-stop(0.12, #e8e8e8),
		color-stop(0.54, #ffffff),
		color-stop(0.11, #dedede),
		to(#e0e0e0));
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #b8b8b8;
	-moz-box-shadow:
		0px 0px 0px rgba(000,000,000,0),
		inset 0px 0px 4px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 0px 0px rgba(000,000,000,0),
		inset 0px 0px 4px rgba(255,255,255,1);
	box-shadow:
		0px 0px 0px rgba(000,000,000,0),
		inset 0px 0px 4px rgba(255,255,255,1);
	text-shadow:
		0px 1px 1px rgba(242,244,245,0.9),
		0px 0px 0px rgba(255,255,255,0);
}
.but:hover {
			position: relative;
			top: 1px;
			left: 1px;
			border-color: #000 #999 #999 #000;

			background:#CCCCCC;
			}

			.div_tipo_diploma_relacionado{
				padding: 3px 10px;
				border: solid 1px #ccc;
				background: #f2f2f2;
				margin: 0px 3px;
				-moz-border-radius: 5px;
				-webkit-border-radius: 3px;
				border-radius: 3px;
				border: 1px solid #999999;
				-moz-box-shadow:
					0px 1px 3px rgba(255,255,255,0.6),
					inset 0px 0px 2px rgba(255,255,255,1);
				-webkit-box-shadow:
					0px 1px 3px rgba(255,255,255,0.6),
					inset 0px 0px 2px rgba(255,255,255,1);
				box-shadow:
					0px 1px 3px rgba(255,255,255,0.6),
					inset 0px 0px 2px rgba(255,255,255,1);
				text-shadow:
					0px -1px 0px rgba(000,000,000,0),
					0px -1px 0px rgba(255,255,255,0);
			}

			.text{
				font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
				text-decoration:none;
				font-size: 10px;
				color:#333333;
			}

			.but {
				font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
				text-decoration:none;
				font-size: 10px;
				padding: 4px;
				background: -moz-linear-gradient(
					top,
					#ffffff 0%,
					#e8e8e8 12%,
					#ffffff 54%,
					#dedede 11%,
					#e0e0e0);
				background: -webkit-gradient(
					linear, left top, left bottom,
					from(#ffffff),
					color-stop(0.12, #e8e8e8),
					color-stop(0.54, #ffffff),
					color-stop(0.11, #dedede),
					to(#e0e0e0));
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				border-radius: 3px;
				border: 1px solid #b8b8b8;
				-moz-box-shadow:
					0px 0px 0px rgba(000,000,000,0),
					inset 0px 0px 4px rgba(255,255,255,1);
				-webkit-box-shadow:
					0px 0px 0px rgba(000,000,000,0),
					inset 0px 0px 4px rgba(255,255,255,1);
				box-shadow:
					0px 0px 0px rgba(000,000,000,0),
					inset 0px 0px 4px rgba(255,255,255,1);
				text-shadow:
					0px 1px 1px rgba(242,244,245,0.9),
					0px 0px 0px rgba(255,255,255,0);
			}
			.but:hover {
						position: relative;
						top: 1px;
						left: 1px;
						border-color: #000 #999 #999 #000;

						background:#CCCCCC;
						}
						.tooltips span{
							position: relative;
							display: inline;
						}

						.tooltips span {
							font:300 10px 'Open Sans', sans-serif;
							position: absolute;
							color: #FFFFFF;
							background: var(--color-1);
							padding:5px 10px;
							width:158px;
							text-align: center;
							visibility:hidden;
							opacity: 0;
							filter: alpha(opacity=0);
							/*transition: transform .3s, opacity .6s, margin-left .2s, margin-top .2s;*/
						}

						.tooltips span{
							margin-left:-24px;
							
							/*-ms-transform: rotate(30deg);
							-webkit-transform: rotate(30deg);
							transform: rotate(30deg);*/
							margin-top: -7%;
							/* margin-left: -9%; */
						}

						.tooltips span:after {
							/* content: ''; */
							position: absolute;
							width: 0; height: 0;
							top: 100%;
							left: 50%;
                            margin-left: -8px;
							border-top: 8px solid var(--color-1);
							border-right: 8px solid transparent;
							border-left: 8px solid transparent;
						}

						.tooltips:hover span {
							visibility: visible;
							opacity: 1;
							z-index: 999;
							/*-ms-transform: rotate(0deg);
							-webkit-transform: rotate(0deg);
							transform: rotate(0deg);*/
							filter: alpha(opacity=100);
						}

						.tooltips:hover span a{
							text-decoration: underline !important;
						}


						// <!--

						// .tableAno {

						// 	background-color: #FFFFFF;

						// 	border:2px solid #F4F4F4;

						// }

						// .style2 {font-size: 11px;

						// 		font-weight: bold;

						// 		padding:5px;

						// 		font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;

						// 		}

						// .style3 {font-size: 12px;

						// 		border:1px solid #cccccc;

						// 		padding:1px;

						// 		background-color:#F4F4F4;

						// 		font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;

						// 		}

						// -->



						a.boxIndiceLink_2{

						  background: #313131;

						  background-image: webkit-linear de gradiente (top, #3498db, #2980b9);

						  background-image: -moz-linear de gradiente (top, #3498db, #2980b9);

						  background-image: -ms-linear de gradiente (top, #3498db, #2980b9);

						//   imagem de fundo: -o linear de gradiente (topo, 3498db #, #2980b9);

						  background-image: linear de gradiente (para baixo, #3498db, #2980b9);

						//   webkit-border-radius: 28;

						  -moz-border-radius: 28;

						  border-radius: 25px;

						  font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;

						  color: #ffffff;

						  font-size: 20px;

						  padding: 10px 10px 4px 10px;

						  text-decoration: none;

						}



						.boxIndiceLink_2:hover {

						  background: #3cb0fd;

						  background-image: webkit-linear de gradiente (top, #3cb0fd, #3498db);

						  background-image: -moz-linear de gradiente (top, #3cb0fd, #3498db);

						  background-image: -ms-linear de gradiente (top, #3cb0fd, #3498db);

						//   imagem de fundo: -o linear de gradiente (topo, #3cb0fd , #3498db);

						  background-image: linear de gradiente (para baixo, #3cb0fd, #3498db);

						  text-decoration: none;

						}

						a.boxIndiceLink_3{

						  background: #666666;

						  background-image: webkit-linear de gradiente (top, #3498db, #2980b9);

						  background-image: -moz-linear de gradiente (top, #3498db, #2980b9);

						  background-image: -ms-linear de gradiente (top, #3498db, #2980b9);

						//   imagem de fundo: -o linear de gradiente (topo, 3498db #, #2980b9);

						  background-image: linear de gradiente (para baixo, #3498db, #2980b9);

						//   webkit-border-radius: 28;

						  -moz-border-radius: 28;

						  border-radius: 25px;

						  font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;

						  color: #ffffff;

						  font-size: 20px;

						  padding: 10px 10px 4px 10px;

						  text-decoration: none;

						}



						.boxIndiceLink_3:hover {

						  background: #3cb0fd;

						  background-image: webkit-linear de gradiente (top, #3cb0fd, #3498db);

						  background-image: -moz-linear de gradiente (top, #3cb0fd, #3498db);

						  background-image: -ms-linear de gradiente (top, #3cb0fd, #3498db);

						//   imagem de fundo: -o linear de gradiente (topo, 3cb0fd #, #3498db);

						//   background-image: linear de gradiente (para baixo, #3cb0fd, #3498db);

						  text-decoration: none;

						}



						div.boxIndiceLink_1_box, div.boxIndiceLink_2_box{ display:none; clear: both;}


							.boxIndice{ background-color: gray; min-height:16px; width:200px; float:left; margin: 5px; padding: 3px; border: solid 1px black; }

							.boxIndice a{ text-decoration:none; color:#fff; font-size:7pt; font-weight:bold; clear: both; min-height:16px; width:180px; display: block;}


							.css3button {
							font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
							font-size: 11px;
							color: #140014;
							padding: 6px 10px;
							background: -moz-linear-gradient(
								top,
								#AD1A1D 0%,
								#ffffff);
							background: -webkit-gradient(
								linear, left top, left bottom,
								from(#ffffff),
								to(#ffffff));
							-moz-border-radius: 3px;
							-webkit-border-radius: 3px;
							border-radius: 3px;
							border: 1px solid #d6d9d5;
							-moz-box-shadow:
								0px 1px 3px rgba(255,255,255,0.6),
								inset 0px 0px 2px rgba(255,255,255,1);
							-webkit-box-shadow:
								0px 1px 3px rgba(255,255,255,0.6),
								inset 0px 0px 2px rgba(255,255,255,1);
							box-shadow:
								0px 1px 3px rgba(255,255,255,0.6),
								inset 0px 0px 2px rgba(255,255,255,1);
							text-shadow:
								0px -1px 0px rgba(000,000,000,0),
								0px -1px 0px rgba(255,255,255,0);
						}
						.css3button:hover {
									position: relative;
									top: 3px;
									border-color: #840000 #840000 #840000 #840000;
									background-color:#EB1518;
									}
									.text{
								font-family:  Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
								text-decoration:none;
								font-size: 10px;
								color:#333333;
							}

							.but {
								font-family:  Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
								text-decoration:none;
								font-size: 10px;
								color:#333333;
								padding: 4px;
								background: -moz-linear-gradient(
									top,
									#ffffff 0%,
									#e8e8e8 12%,
									#ffffff 54%,
									#dedede 11%,
									#e0e0e0);
								background: -webkit-gradient(
									linear, left top, left bottom,
									from(#ffffff),
									color-stop(0.12, #e8e8e8),
									color-stop(0.54, #ffffff),
									color-stop(0.11, #dedede),
									to(#e0e0e0));
								-moz-border-radius: 3px;
								-webkit-border-radius: 3px;
								border-radius: 3px;
								border: 1px solid #b8b8b8;
								-moz-box-shadow:
									0px 0px 0px rgba(000,000,000,0),
									inset 0px 0px 4px rgba(255,255,255,1);
								-webkit-box-shadow:
									0px 0px 0px rgba(000,000,000,0),
									inset 0px 0px 4px rgba(255,255,255,1);
								box-shadow:
									0px 0px 0px rgba(000,000,000,0),
									inset 0px 0px 4px rgba(255,255,255,1);
								text-shadow:
									0px 1px 1px rgba(242,244,245,0.9),
									0px 0px 0px rgba(255,255,255,0);
							}
							.but:hover {
										position: relative;
										top: 1px;
										left: 1px;
										border-color: #000 #999 #999 #000;

										background:#CCCCCC;
										}

                            .div_paginacao{ padding:10px; width:678px; 
                                // background:url(img/barra_Texto2.jpg) repeat-y; 
                                border:0px; text-align: center;}
							.div_paginacao input{
								width: 46px;
								height: 34px;
								margin: 0px 2px;
								padding: 2px;
								border: solid 2px #999;
								color: #666;
								font-size: 14px;
							}
							.div_paginacao input.pagina_atual{ background-color: #FFF;}


								// <!--

								// .tableAno {

								// 	background-color: #FFFFFF;

								// 	border:2px solid #F4F4F4;

								// }

								// -->



									.label {

										background: #F4F4F4;

										vertical-align: top;

										padding-top: 6px;

										font-size: 10px;

											}

									.field {

										background: #E3E3E3;

										font-size: 10px;

									}

									.field input{ font-size: 11px;}

									.help {

										background: #F4F4F4;

										font-size: 11px;

									}

									.IndAnoC {

										font-family:Verdana;

										font-size:13pt;

										font-weight:bold;

										text-align:left;

										color:#333333;

										padding-top: 3px;

										padding-right: 3px;

										padding-bottom: 3px;

										padding-left: 7px;

										}

									.IndDipC {

										font-family:  Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;

										height:20px;

										font-size:8pt;

										font-weight:bold;

										text-align:left;

										background-color:#f6f6f6;

										color:#666666;

										padding-top: 2px;

										padding-right: 3px;

										padding-bottom: 2px;

										padding-left: 17px;

										}

									.IndAno {

										font-family:Verdana;

										font-size:1pt;

										font-weight:bold;

										text-align:left;

										background-color:#E6E6BD;

										color:#333333;

										padding-top: 3px;

										padding-right: 3px;

										padding-bottom: 3px;

										padding-left: 7px;

										}



									.IndDip {

										font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;

										height:20px;

										font-size:8pt;

										font-weight:bold;

										text-align:left;

										background-color:#EEEED7;

										color:#666666;

										padding-top: 2px;

										padding-right: 3px;

										padding-bottom: 2px;

										padding-left: 17px;

										}

									.pesquisa1  {

										// background: url(img/Listar0.gif);

										border:none;

										margin-top: 0px;

										margin-left: 0px;

										width: 89;

										height: 21px;

									}



									.pesquisa_com_palavras{

										background: yellow;

									}
